<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" class="add-friend-view" data-model="app.Friends">
    <div data-role="header">
        <div data-role="navbar">
            All Users
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton"> Back </a>
        </div>
    </div>

    <ul id="friends-listview" data-style="inset" data-role="listview" data-template="userTemplate" data-bind="source: users"></ul>
    <p id="no-users-span" hidden="hidden" class="no-items-msg">
        <b>No users yet.</b>
    </p>
</div>


<script type="text/x-kendo-template" id="userTemplate">
    <div data-role="touch" data-bind="events: { tap: userSelected }" class="cf">
        <div class="user-avatar">
            <img data-bind="attr:{src: User().PictureUrl}" alt="styles/images/avatar.png" />
        </div> 
        <div class="friend-content">
            <h2 class="person-name" style="color:red">${DisplayName}</h2>
            <span class="person-name" style="color:red">${Email}</span>
        </div>
    </div>
</script>