<div data-role="view" id="view-all-friends" data-layout="main" class="friends-view" data-model="app.Friends">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"> Friends </span>
        </div>
    </div>

    <ul id="friends-listview" data-style="inset" data-role="listview" data-template="friendTemplate" data-bind="source: friends"></ul>
    <p id="no-friends-span" hidden="hidden" class="no-items-msg">
        <b>No friends yet.</b><br /><br /> Add new friend.
    </p>
    
    <div data-role="footer">
        <div data-role="tabstrip" class="tabstrip">
            <a href="views/homeView.html" data-icon="home"> Home </a>
            <a data-icon="add" href="views/friends/addFriendView.html"> Add </a>
        </div>
    </div>
</div>


<!-- Friends ListView Template -->

<script type="text/x-kendo-template" id="friendTemplate">
    <div data-role="touch" data-bind="events: { tap: friendSelected }" class="cf">
        <div class="user-avatar">
            <img data-bind="attr:{src: Avatar}" alt="styles/images/avatar.png" />
        </div> 
        <div class="friend-content">
            <h2 class="person-name" style="color:red">${User().DisplayName}</h2>
        </div>
    </div>
</script>
