<div data-role="view" id="home" data-layout="main" class="home-view" data-model="app.homepage">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"> Lets Go Out </span>
        </div>
        <a data-align="left" data-role="button" data-bind="click: logout"> Log out </a>
    </div>
    <button data-role="button" id="imageAdd" data-align="right" data-bind="click: addImage" style="display:none">Add Image</button>
    <button data-role="button" id="imageLoad" data-bind="click: loadImage">Load Profile Images</button>
    <ul id="images"></ul>
    <div data-role="footer">
        <div data-role="tabstrip" class="tabstrip">
            <a href="views/events/eventsView.html" data-icon="bookmarks"> Events </a>
            <a href="views/friends/friendsView.html" data-icon="contacts"> Friends </a>
        </div>
    </div>
</div>
