<div data-role="view" id="view-all-events" data-layout="main" class="events-view" data-model="app.Events">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"> Events </span>
        </div>
    </div>
    
    <ul id="events-listview" data-style="inset" data-role="listview" data-template="eventTemplate" data-bind="source: events"></ul>
    <p id="no-events-span" hidden="hidden" class="no-items-msg">
        <b>No events yet.</b><br /><br /> Create new event.
    </p>
    
    <div data-role="footer">
        <div data-role="tabstrip" class="tabstrip">
            <a href="views/homeView.html" data-icon="home"> Home </a>
            <a data-icon="add" href="views/events/addEventView.html"> Add </a>
        </div>
    </div>
</div>


<!-- Events ListView Template -->
<script type="text/x-kendo-template" id="eventTemplate">
    <div data-role="touch" data-bind="events: { tap: eventSelected }" class="cf">
        <div class="user-avatar">
            <img data-bind="attr:{src: User().PictureUrl}" alt="styles/images/avatar.png" />
        </div>
        <div class="event-content">
            <h2 class="person-name">${User().DisplayName}</h2>
            <span class="time-span">${CreatedAtFormatted()}</span>
            <a class="user-share-txt">${Description}</a>
            <br />
            <a class="user-share-txt">Joined: ${Joined}</a>
        </div>
    </div>
</script>
