<div data-role="view" id="single-event" data-layout="main" class="event-view" data-init="app.EventModel.init" data-show="app.EventModel.show">
    <div data-role="header">
        <div data-role="navbar">
            Event
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton"> Back </a>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" data-click="app.EventModel.join"> Join </a>
        </div>
    </div>

    <div id="status-container" class="user-status-wrp cf" data-role="listview" data-style="inset">
        <div class="user-avatar">
            <img data-bind="attr:{src: User().PictureUrl}" alt="styles/images/avatar.png" />
        </div>
        <div class="event-content">
            <h2 id="personName" class="person-name" data-bind='text: User().DisplayName'></h2>
            <span id="eventDate" class="time-span" data-bind="text: CreatedAtFormatted"></span>
            <span id="eventDescription" data-bind="text: Description" class="user-share-txt"></span>
            <img id="picture" class="picture" data-bind="attr:{src: PictureUrl()}" width="100%"/>
            <div id="eventLocation" style="color: black" data-bind="text: LocationFormatted()"></div>
            <div id="show-location" ></div>
            <div id="join-count" style="color: black" data-bind="text: JoinedFormatter()"></div>
            <!--<div class="joins-wrp">
                <span id="joined" data-bind="text: Joined" ></span>
                <ul id="joins-listview"></ul>
            </div>-->
        </div>
    </div>
    
    <div data-role="footer">
        <a data-role="button" data-bind="visible: isVisible" data-click="app.EventModel.remove" class="btn btn-delete"> Delete </a>
    </div>
</div>

<!-- Joins Template -->
<!--<script type="text/x-kendo-template" id="joinsTemplate">
    <div class="join-content">
        <h2 class="person-name">${User()}</h2>
    </div>
</script>-->
